
html
{
	background-color: rgb(46, 46, 46);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

body
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

input, select, .formula
{
	background-color: rgb(29, 29, 29);
	color: white;
	border: none;
	font-size: 1em;
	outline: none;
	border-radius: 0.3em;
	margin: 0.5em 0;
}

select
{
	display: inline-block;
	font-family: Consolas, monospace;
	padding: 0.3em 0.5em;
}

.formula-editor
{
	display: grid;
	min-height: 0;
	height: fit-content;
}

.formula
{
	display: inline-block;
	font-family: Consolas, monospace;
	padding: 0.5em 0.7em;
}
.formula *
{
	display: inline-block;
}

.variable
{
	color: rgb(67, 170, 255);
}
.operator
{
	color: rgb(255, 81, 104);
}

table
{
	text-align: center;
}

table td
{
	/* width: 1em;
	height: 1em; */
	background-color: rgb(29, 29, 29);
	padding: 0.3em 0.5em;
	border-radius: 0.1em;
}